@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--background: #ffffff;
	--foreground: #171717;
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}
@font-face {
	font-family: "Catfiles";
	src: url("/assets/fonts/Catfiles.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Bitwise";
	src: url("/assets/fonts/Bitwise.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: "Prototype";
	src: url("/assets/fonts/Prototype.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
@font-face {
	font-family: "Checkbook";
	src: url("/assets/fonts/CHECKBK0.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}
